#stars-blue {
  width: 2px;
  height: 4px;
  background: transparent;
  box-shadow: 1994px 1692px #3ba9d7, 961px 1928px #3ba9d7, 819px 1320px #3ba9d7, 1899px 52px #3ba9d7,
    28px 1937px #3ba9d7, 157px 88px #3ba9d7, 860px 1909px #3ba9d7, 720px 427px #3ba9d7, 1319px 1469px #3ba9d7,
    677px 960px #3ba9d7, 1265px 1181px #3ba9d7, 1176px 1361px #3ba9d7, 1957px 753px #3ba9d7, 1674px 1355px #3ba9d7,
    929px 1206px #3ba9d7, 1038px 898px #3ba9d7, 1229px 365px #3ba9d7, 1085px 51px #3ba9d7, 851px 650px #3ba9d7,
    385px 21px #3ba9d7, 41px 1153px #3ba9d7, 718px 70px #3ba9d7, 1321px 579px #3ba9d7, 497px 1458px #3ba9d7,
    1981px 813px #3ba9d7, 776px 1187px #3ba9d7, 1345px 31px #3ba9d7, 1571px 400px #3ba9d7, 339px 587px #3ba9d7,
    146px 750px #3ba9d7, 64px 61px #3ba9d7, 307px 981px #3ba9d7, 388px 849px #3ba9d7, 1398px 936px #3ba9d7,
    522px 765px #3ba9d7, 1146px 350px #3ba9d7, 19px 206px #3ba9d7, 1767px 319px #3ba9d7, 1203px 425px #3ba9d7,
    1917px 1018px #3ba9d7, 91px 1401px #3ba9d7, 898px 697px #3ba9d7, 1712px 1121px #3ba9d7, 633px 1119px #3ba9d7,
    137px 1266px #3ba9d7, 1006px 931px #3ba9d7, 1644px 1804px #3ba9d7, 1596px 1057px #3ba9d7, 1298px 543px #3ba9d7,
    1505px 996px #3ba9d7, 1972px 1383px #3ba9d7, 1210px 1497px #3ba9d7, 804px 1840px #3ba9d7, 913px 1047px #3ba9d7,
    187px 1824px #3ba9d7, 1564px 1994px #3ba9d7, 557px 1737px #3ba9d7, 508px 1609px #3ba9d7, 1259px 1911px #3ba9d7,
    1294px 1381px #3ba9d7, 1845px 1843px #3ba9d7, 667px 1497px #3ba9d7, 1046px 945px #3ba9d7, 937px 1889px #3ba9d7,
    982px 1806px #3ba9d7, 1293px 671px #3ba9d7, 668px 904px #3ba9d7, 358px 1971px #3ba9d7, 133px 766px #3ba9d7,
    1152px 1573px #3ba9d7, 318px 694px #3ba9d7, 578px 1184px #3ba9d7, 1620px 1701px #3ba9d7, 1359px 354px #3ba9d7,
    1807px 1367px #3ba9d7, 458px 911px #3ba9d7, 1387px 806px #3ba9d7, 523px 81px #3ba9d7, 1243px 341px #3ba9d7,
    906px 1730px #3ba9d7, 1629px 474px #3ba9d7, 1690px 419px #3ba9d7, 847px 808px #3ba9d7, 528px 1627px #3ba9d7,
    480px 718px #3ba9d7, 537px 593px #3ba9d7, 1432px 1333px #3ba9d7, 200px 1228px #3ba9d7, 1800px 1375px #3ba9d7,
    725px 1231px #3ba9d7, 1749px 1432px #3ba9d7, 1948px 303px #3ba9d7, 1889px 252px #3ba9d7, 1114px 1400px #3ba9d7,
    759px 646px #3ba9d7, 222px 571px #3ba9d7, 1908px 1401px #3ba9d7, 1856px 1204px #3ba9d7, 338px 1645px #3ba9d7,
    1528px 1050px #3ba9d7;
  animation: stars-animation 150s linear infinite;
}

#stars-blue::after {
  content: "e ";
  position: absolute;
  top: 1000px;
  background: transparent;
  box-shadow: 1994px 1692px #3ba9d7, 961px 1928px #3ba9d7, 819px 1320px #3ba9d7, 1899px 52px #3ba9d7,
    28px 1937px #3ba9d7, 157px 88px #3ba9d7, 860px 1909px #3ba9d7, 720px 427px #3ba9d7, 1319px 1469px #3ba9d7,
    677px 960px #3ba9d7, 1265px 1181px #3ba9d7, 1176px 1361px #3ba9d7, 1957px 753px #3ba9d7, 1674px 1355px #3ba9d7,
    929px 1206px #3ba9d7, 1038px 898px #3ba9d7, 1229px 365px #3ba9d7, 1085px 51px #3ba9d7, 851px 650px #3ba9d7,
    385px 21px #3ba9d7, 41px 1153px #3ba9d7, 718px 70px #3ba9d7, 1321px 579px #3ba9d7, 497px 1458px #3ba9d7,
    1981px 813px #3ba9d7, 776px 1187px #3ba9d7, 1345px 31px #3ba9d7, 1571px 400px #3ba9d7, 339px 587px #3ba9d7,
    146px 750px #3ba9d7, 64px 61px #3ba9d7, 307px 981px #3ba9d7, 388px 849px #3ba9d7, 1398px 936px #3ba9d7,
    522px 765px #3ba9d7, 1146px 350px #3ba9d7, 19px 206px #3ba9d7, 1767px 319px #3ba9d7, 1203px 425px #3ba9d7,
    1917px 1018px #3ba9d7, 91px 1401px #3ba9d7, 898px 697px #3ba9d7, 1712px 1121px #3ba9d7, 633px 1119px #3ba9d7,
    137px 1266px #3ba9d7, 1006px 931px #3ba9d7, 1644px 1804px #3ba9d7, 1596px 1057px #3ba9d7, 1298px 543px #3ba9d7,
    1505px 996px #3ba9d7, 1972px 1383px #3ba9d7, 1210px 1497px #3ba9d7, 804px 1840px #3ba9d7, 913px 1047px #3ba9d7,
    187px 1824px #3ba9d7, 1564px 1994px #3ba9d7, 557px 1737px #3ba9d7, 508px 1609px #3ba9d7, 1259px 1911px #3ba9d7,
    1294px 1381px #3ba9d7, 1845px 1843px #3ba9d7, 667px 1497px #3ba9d7, 1046px 945px #3ba9d7, 937px 1889px #3ba9d7,
    982px 1806px #3ba9d7, 1293px 671px #3ba9d7, 668px 904px #3ba9d7, 358px 1971px #3ba9d7, 133px 766px #3ba9d7,
    1152px 1573px #3ba9d7, 318px 694px #3ba9d7, 578px 1184px #3ba9d7, 1620px 1701px #3ba9d7, 1359px 354px #3ba9d7,
    1807px 1367px #3ba9d7, 458px 911px #3ba9d7, 1387px 806px #3ba9d7, 523px 81px #3ba9d7, 1243px 341px #3ba9d7,
    906px 1730px #3ba9d7, 1629px 474px #3ba9d7, 1690px 419px #3ba9d7, 847px 808px #3ba9d7, 528px 1627px #3ba9d7,
    480px 718px #3ba9d7, 537px 593px #3ba9d7, 1432px 1333px #3ba9d7, 200px 1228px #3ba9d7, 1800px 1375px #3ba9d7,
    725px 1231px #3ba9d7, 1749px 1432px #3ba9d7, 1948px 303px #3ba9d7, 1889px 252px #3ba9d7, 1114px 1400px #3ba9d7,
    759px 646px #3ba9d7, 222px 571px #3ba9d7, 1908px 1401px #3ba9d7, 1856px 1204px #3ba9d7, 338px 1645px #3ba9d7,
    1528px 1050px #3ba9d7;
}

@keyframes stars-animation {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-2000px);
  }
}
