#stars-yellow {
  content: "e";
  background: transparent;
  box-shadow: 1744px 122px #f3df45, 134px 1321px #f3df45, 92px 859px #f3df45, 235px 1045px #f3df45, 366px 912px #f3df45,
    491px 942px #f3df45, 14px 1831px #f3df45, 582px 476px #f3df45, 588px 1230px #f3df45, 1520px 1343px #f3df45,
    1671px 203px #f3df45, 550px 341px #f3df45, 1491px 549px #f3df45, 558px 161px #f3df45, 896px 1823px #f3df45,
    999px 1463px #f3df45, 1557px 636px #f3df45, 1754px 1307px #f3df45, 1682px 1494px #f3df45, 703px 1707px #f3df45,
    1945px 1847px #f3df45, 1151px 1320px #f3df45, 980px 144px #f3df45, 478px 948px #f3df45, 109px 1762px #f3df45,
    558px 255px #f3df45, 719px 1820px #f3df45, 588px 748px #f3df45, 1899px 174px #f3df45, 841px 1771px #f3df45,
    571px 1588px #f3df45, 1155px 353px #f3df45, 1879px 1220px #f3df45, 1782px 870px #f3df45, 407px 1238px #f3df45,
    1141px 63px #f3df45, 1147px 1097px #f3df45, 1406px 159px #f3df45, 637px 1215px #f3df45, 694px 1114px #f3df45,
    1536px 727px #f3df45, 1708px 1512px #f3df45, 1147px 880px #f3df45, 684px 988px #f3df45, 140px 851px #f3df45,
    1565px 1788px #f3df45, 1573px 889px #f3df45, 1172px 628px #f3df45, 1474px 1978px #f3df45, 435px 447px #f3df45,
    185px 1808px #f3df45, 620px 1560px #f3df45, 1387px 1196px #f3df45, 138px 1854px #f3df45, 137px 1499px #f3df45,
    1721px 1132px #f3df45, 10px 32px #f3df45, 1931px 1990px #f3df45, 209px 91px #f3df45, 1876px 1795px #f3df45,
    1130px 1551px #f3df45, 284px 1848px #f3df45, 389px 1603px #f3df45, 612px 1121px #f3df45, 825px 1926px #f3df45,
    161px 344px #f3df45, 1729px 333px #f3df45, 1037px 37px #f3df45, 844px 1085px #f3df45, 1179px 554px #f3df45,
    50px 478px #f3df45, 1864px 704px #f3df45, 233px 723px #f3df45, 1202px 445px #f3df45, 882px 189px #f3df45,
    362px 735px #f3df45, 924px 411px #f3df45, 902px 209px #f3df45, 104px 185px #f3df45, 1599px 1852px #f3df45,
    1974px 944px #f3df45, 438px 1164px #f3df45, 401px 1533px #f3df45, 191px 1429px #f3df45, 251px 1034px #f3df45,
    1807px 1412px #f3df45, 72px 23px #f3df45, 1752px 1146px #f3df45, 261px 1481px #f3df45, 548px 33px #f3df45,
    710px 1204px #f3df45, 355px 1697px #f3df45, 581px 100px #f3df45, 318px 1146px #f3df45, 929px 79px #f3df45,
    999px 347px #f3df45, 155px 292px #f3df45, 271px 677px #f3df45, 920px 1596px #f3df45, 1736px 184px #f3df45,
    1022px 1790px #f3df45, 1465px 1762px #f3df45, 820px 526px #f3df45, 175px 37px #f3df45, 440px 746px #f3df45,
    681px 1879px #f3df45, 690px 1135px #f3df45, 1960px 1453px #f3df45, 422px 856px #f3df45, 1217px 1232px #f3df45,
    1015px 1695px #f3df45, 1933px 492px #f3df45, 272px 448px #f3df45, 1578px 1487px #f3df45, 437px 874px #f3df45,
    947px 838px #f3df45, 1339px 867px #f3df45, 1484px 773px #f3df45, 764px 66px #f3df45, 418px 707px #f3df45,
    192px 1909px #f3df45, 1629px 215px #f3df45, 171px 260px #f3df45, 1180px 220px #f3df45, 488px 857px #f3df45,
    593px 493px #f3df45, 1794px 886px #f3df45, 1673px 1977px #f3df45, 905px 1193px #f3df45, 1372px 1843px #f3df45,
    1605px 908px #f3df45, 659px 181px #f3df45, 700px 1758px #f3df45, 812px 1200px #f3df45, 1800px 1440px #f3df45,
    1858px 212px #f3df45, 628px 1026px #f3df45, 1825px 1556px #f3df45, 1641px 1750px #f3df45, 1195px 1086px #f3df45,
    1465px 558px #f3df45, 1634px 436px #f3df45, 1354px 1831px #f3df45, 1212px 1485px #f3df45, 1491px 994px #f3df45,
    604px 1279px #f3df45, 413px 1131px #f3df45, 1677px 1086px #f3df45, 841px 47px #f3df45, 146px 489px #f3df45,
    117px 1195px #f3df45, 67px 47px #f3df45, 883px 258px #f3df45, 1801px 1294px #f3df45, 594px 1870px #f3df45,
    649px 531px #f3df45, 721px 132px #f3df45, 975px 1616px #f3df45, 716px 94px #f3df45, 295px 791px #f3df45,
    174px 1814px #f3df45, 1130px 298px #f3df45, 1747px 1835px #f3df45, 605px 1521px #f3df45, 78px 743px #f3df45,
    1685px 311px #f3df45, 804px 341px #f3df45, 1440px 852px #f3df45, 1607px 1692px #f3df45, 698px 1112px #f3df45,
    1153px 1608px #f3df45, 539px 999px #f3df45, 262px 353px #f3df45, 457px 1246px #f3df45, 1858px 998px #f3df45,
    364px 431px #f3df45, 1907px 912px #f3df45, 541px 916px #f3df45, 168px 1384px #f3df45, 357px 1321px #f3df45,
    1859px 1866px #f3df45, 1001px 909px #f3df45, 842px 1663px #f3df45, 369px 1176px #f3df45, 932px 1372px #f3df45,
    1606px 732px #f3df45, 1844px 857px #f3df45, 974px 1588px #f3df45, 804px 1139px #f3df45, 65px 1213px #f3df45,
    1066px 863px #f3df45, 1991px 1734px #f3df45, 300px 738px #f3df45, 1260px 1141px #f3df45, 83px 260px #f3df45,
    1219px 167px #f3df45, 613px 990px #f3df45, 873px 81px #f3df45, 362px 235px #f3df45, 373px 372px #f3df45,
    80px 247px #f3df45, 902px 1141px #f3df45, 294px 464px #f3df45, 766px 1925px #f3df45, 1151px 1305px #f3df45,
    1250px 1593px #f3df45, 1289px 119px #f3df45, 1525px 1505px #f3df45, 234px 1306px #f3df45, 571px 858px #f3df45,
    571px 996px #f3df45, 766px 1342px #f3df45, 1371px 716px #f3df45, 711px 1939px #f3df45, 904px 1797px #f3df45,
    424px 1710px #f3df45, 762px 1614px #f3df45, 1389px 1290px #f3df45, 905px 689px #f3df45, 352px 38px #f3df45,
    2000px 1317px #f3df45, 597px 864px #f3df45, 824px 711px #f3df45, 966px 1060px #f3df45, 958px 992px #f3df45,
    1121px 324px #f3df45, 1624px 688px #f3df45, 1737px 702px #f3df45, 1566px 1344px #f3df45, 697px 368px #f3df45,
    291px 1126px #f3df45, 1732px 50px #f3df45, 712px 1941px #f3df45, 1257px 372px #f3df45, 317px 1462px #f3df45,
    222px 309px #f3df45, 1139px 647px #f3df45, 170px 878px #f3df45, 1272px 1511px #f3df45, 1009px 1912px #f3df45,
    1875px 1105px #f3df45, 1968px 1370px #f3df45, 1193px 687px #f3df45, 1498px 611px #f3df45, 247px 1993px #f3df45,
    1686px 1611px #f3df45, 937px 340px #f3df45, 114px 1423px #f3df45, 496px 1191px #f3df45, 110px 1284px #f3df45,
    876px 687px #f3df45, 1173px 214px #f3df45, 210px 628px #f3df45, 302px 1173px #f3df45, 1318px 939px #f3df45,
    1665px 1310px #f3df45, 66px 338px #f3df45, 1355px 615px #f3df45, 1139px 1672px #f3df45, 91px 1000px #f3df45,
    112px 422px #f3df45, 89px 503px #f3df45, 97px 1599px #f3df45, 1031px 1955px #f3df45, 1755px 1532px #f3df45,
    1764px 1930px #f3df45, 1822px 1751px #f3df45, 133px 401px #f3df45, 718px 85px #f3df45, 1797px 78px #f3df45,
    520px 1725px #f3df45, 226px 406px #f3df45, 1561px 1574px #f3df45, 340px 1602px #f3df45, 718px 976px #f3df45,
    1823px 570px #f3df45, 1298px 484px #f3df45, 1023px 1903px #f3df45, 1266px 1334px #f3df45, 763px 877px #f3df45,
    223px 631px #f3df45, 1761px 1293px #f3df45, 878px 1px #f3df45, 973px 696px #f3df45, 975px 1841px #f3df45,
    1276px 302px #f3df45, 1399px 1324px #f3df45, 1706px 872px #f3df45, 341px 1960px #f3df45, 1384px 1655px #f3df45,
    1897px 767px #f3df45, 68px 405px #f3df45, 705px 310px #f3df45, 194px 103px #f3df45, 1432px 368px #f3df45,
    1262px 1682px #f3df45, 1933px 1526px #f3df45, 263px 655px #f3df45, 1031px 1031px #f3df45, 1557px 788px #f3df45,
    1558px 1360px #f3df45, 812px 421px #f3df45, 1951px 734px #f3df45, 1567px 498px #f3df45, 1832px 1229px #f3df45,
    913px 164px #f3df45, 1907px 1273px #f3df45, 533px 749px #f3df45, 1235px 951px #f3df45, 645px 1959px #f3df45,
    92px 1570px #f3df45, 1169px 1434px #f3df45, 118px 1223px #f3df45, 583px 957px #f3df45, 1245px 316px #f3df45,
    527px 863px #f3df45, 372px 1007px #f3df45, 244px 1251px #f3df45, 314px 494px #f3df45, 1842px 1463px #f3df45,
    1315px 730px #f3df45, 1655px 1366px #f3df45, 482px 979px #f3df45, 340px 1808px #f3df45, 256px 578px #f3df45,
    858px 1792px #f3df45, 1965px 403px #f3df45, 454px 253px #f3df45, 1664px 698px #f3df45, 1974px 750px #f3df45,
    262px 1801px #f3df45, 1652px 1076px #f3df45, 992px 711px #f3df45, 1792px 1323px #f3df45, 700px 1748px #f3df45,
    855px 966px #f3df45, 1833px 1747px #f3df45, 402px 1272px #f3df45, 1391px 1039px #f3df45, 1395px 1538px #f3df45,
    397px 1972px #f3df45, 744px 1403px #f3df45, 1784px 1046px #f3df45, 111px 198px #f3df45, 1827px 473px #f3df45,
    1347px 1891px #f3df45, 1238px 1081px #f3df45, 189px 908px #f3df45, 1513px 542px #f3df45, 673px 981px #f3df45,
    720px 1184px #f3df45, 373px 792px #f3df45, 1470px 1631px #f3df45, 16px 822px #f3df45, 1935px 829px #f3df45,
    364px 613px #f3df45, 223px 899px #f3df45, 1233px 874px #f3df45, 1441px 1834px #f3df45, 719px 894px #f3df45,
    76px 1610px #f3df45, 296px 685px #f3df45, 572px 1637px #f3df45, 349px 114px #f3df45, 1670px 1802px #f3df45,
    979px 928px #f3df45, 1589px 574px #f3df45, 756px 194px #f3df45, 616px 507px #f3df45, 271px 186px #f3df45,
    198px 360px #f3df45, 1916px 418px #f3df45, 721px 667px #f3df45, 1937px 1908px #f3df45, 17px 556px #f3df45,
    345px 443px #f3df45, 718px 760px #f3df45, 1922px 310px #f3df45, 1185px 887px #f3df45, 1745px 1848px #f3df45,
    909px 847px #f3df45, 1170px 134px #f3df45, 1773px 1133px #f3df45, 1099px 233px #f3df45, 1122px 1524px #f3df45,
    866px 907px #f3df45, 398px 213px #f3df45, 1287px 886px #f3df45, 1194px 149px #f3df45, 1876px 1667px #f3df45,
    332px 1658px #f3df45, 146px 1253px #f3df45, 958px 211px #f3df45, 643px 47px #f3df45, 1213px 1339px #f3df45,
    1637px 1939px #f3df45, 1601px 355px #f3df45, 256px 1982px #f3df45, 989px 1609px #f3df45, 1179px 701px #f3df45,
    685px 1463px #f3df45, 1910px 465px #f3df45, 764px 1930px #f3df45, 1856px 433px #f3df45, 720px 367px #f3df45,
    1821px 416px #f3df45, 48px 1114px #f3df45, 716px 489px #f3df45, 174px 1972px #f3df45, 115px 1373px #f3df45,
    1487px 141px #f3df45, 1919px 1362px #f3df45, 1662px 859px #f3df45, 1168px 490px #f3df45, 706px 1820px #f3df45,
    588px 318px #f3df45, 107px 778px #f3df45, 621px 1667px #f3df45, 1331px 1996px #f3df45, 1404px 1154px #f3df45,
    860px 1019px #f3df45, 1385px 1883px #f3df45, 1066px 1951px #f3df45, 752px 444px #f3df45, 955px 1031px #f3df45,
    1256px 1899px #f3df45, 961px 1455px #f3df45, 1101px 84px #f3df45, 890px 335px #f3df45, 798px 40px #f3df45,
    138px 54px #f3df45, 1934px 252px #f3df45, 429px 324px #f3df45, 1645px 1522px #f3df45, 218px 737px #f3df45,
    1625px 531px #f3df45, 605px 1290px #f3df45, 1867px 648px #f3df45, 82px 1137px #f3df45, 231px 1423px #f3df45,
    471px 944px #f3df45, 1363px 1752px #f3df45, 482px 1364px #f3df45, 1305px 627px #f3df45, 1065px 891px #f3df45,
    217px 1841px #f3df45, 1843px 1501px #f3df45, 1681px 734px #f3df45, 185px 856px #f3df45, 609px 1094px #f3df45,
    49px 1657px #f3df45, 783px 594px #f3df45, 1018px 1123px #f3df45, 644px 1149px #f3df45, 739px 1262px #f3df45,
    1439px 1187px #f3df45, 1789px 1507px #f3df45, 941px 791px #f3df45, 1319px 1308px #f3df45, 498px 626px #f3df45,
    1594px 858px #f3df45, 783px 71px #f3df45, 576px 1976px #f3df45, 1625px 696px #f3df45, 1821px 352px #f3df45,
    1039px 885px #f3df45, 208px 430px #f3df45, 124px 198px #f3df45, 1964px 686px #f3df45, 1440px 1952px #f3df45,
    231px 1435px #f3df45, 1846px 853px #f3df45, 1174px 536px #f3df45, 1228px 310px #f3df45, 1380px 699px #f3df45,
    1116px 169px #f3df45, 1416px 1007px #f3df45, 178px 192px #f3df45, 1302px 1903px #f3df45, 1892px 154px #f3df45,
    962px 1032px #f3df45, 1009px 1916px #f3df45, 1549px 1206px #f3df45, 899px 968px #f3df45, 902px 543px #f3df45,
    1516px 542px #f3df45, 965px 527px #f3df45, 1594px 696px #f3df45, 856px 1719px #f3df45, 1522px 248px #f3df45,
    1795px 283px #f3df45, 1144px 946px #f3df45, 1365px 199px #f3df45, 359px 1347px #f3df45, 1506px 263px #f3df45,
    433px 1793px #f3df45, 201px 247px #f3df45, 942px 838px #f3df45, 1122px 1065px #f3df45, 1997px 108px #f3df45,
    306px 989px #f3df45, 641px 1713px #f3df45, 1072px 959px #f3df45, 1874px 1079px #f3df45, 1938px 269px #f3df45,
    891px 389px #f3df45, 22px 574px #f3df45, 727px 474px #f3df45, 1671px 1649px #f3df45, 98px 400px #f3df45,
    641px 798px #f3df45, 1218px 1051px #f3df45, 907px 1485px #f3df45, 1002px 1549px #f3df45, 1932px 1448px #f3df45,
    1132px 573px #f3df45, 1222px 1147px #f3df45, 1009px 451px #f3df45, 698px 1940px #f3df45, 97px 1123px #f3df45,
    904px 751px #f3df45, 1904px 593px #f3df45, 1451px 1658px #f3df45, 191px 1606px #f3df45, 1346px 482px #f3df45,
    1935px 1086px #f3df45, 1052px 224px #f3df45, 526px 1810px #f3df45, 1607px 606px #f3df45, 427px 1830px #f3df45,
    1546px 407px #f3df45, 1771px 208px #f3df45, 1714px 181px #f3df45, 1332px 943px #f3df45, 1663px 1094px #f3df45,
    1861px 1747px #f3df45, 1429px 1217px #f3df45, 1733px 1915px #f3df45, 925px 1179px #f3df45, 735px 781px #f3df45,
    1775px 1989px #f3df45, 1770px 476px #f3df45, 844px 400px #f3df45, 1793px 1517px #f3df45, 544px 281px #f3df45,
    725px 344px #f3df45, 1274px 764px #f3df45, 1845px 339px #f3df45, 582px 1745px #f3df45, 351px 1287px #f3df45,
    207px 749px #f3df45, 1063px 1411px #f3df45, 1246px 342px #f3df45, 1538px 166px #f3df45, 770px 602px #f3df45,
    1214px 1971px #f3df45, 113px 294px #f3df45, 1157px 101px #f3df45, 1657px 517px #f3df45, 637px 1693px #f3df45,
    961px 1649px #f3df45, 1754px 1572px #f3df45, 1885px 659px #f3df45, 238px 34px #f3df45, 413px 1027px #f3df45,
    1709px 1556px #f3df45, 460px 878px #f3df45, 1597px 608px #f3df45, 544px 434px #f3df45, 1258px 477px #f3df45,
    565px 1863px #f3df45, 426px 322px #f3df45, 1917px 850px #f3df45, 296px 144px #f3df45, 643px 1896px #f3df45,
    511px 116px #f3df45, 359px 847px #f3df45, 702px 1133px #f3df45, 857px 1371px #f3df45, 559px 1758px #f3df45,
    1615px 1223px #f3df45, 1927px 1736px #f3df45, 704px 941px #f3df45, 1932px 942px #f3df45, 1462px 335px #f3df45,
    154px 1915px #f3df45, 1387px 918px #f3df45, 1512px 1041px #f3df45, 1094px 1334px #f3df45, 1678px 865px #f3df45,
    1960px 431px #f3df45, 666px 1258px #f3df45, 422px 1215px #f3df45, 345px 802px #f3df45, 1207px 647px #f3df45,
    1701px 374px #f3df45, 1440px 1925px #f3df45, 1536px 1163px #f3df45, 905px 155px #f3df45, 843px 1036px #f3df45,
    660px 823px #f3df45, 1329px 661px #f3df45, 1867px 899px #f3df45, 1022px 514px #f3df45, 1062px 1570px #f3df45,
    888px 1786px #f3df45, 699px 1738px #f3df45, 1831px 1712px #f3df45, 434px 18px #f3df45, 227px 205px #f3df45,
    520px 1279px #f3df45, 1329px 764px #f3df45, 1824px 47px #f3df45, 112px 266px #f3df45, 830px 1140px #f3df45,
    478px 637px #f3df45, 634px 850px #f3df45, 711px 873px #f3df45, 987px 249px #f3df45, 1454px 909px #f3df45,
    699px 922px #f3df45, 1458px 1142px #f3df45, 701px 1893px #f3df45, 134px 384px #f3df45, 904px 354px #f3df45,
    1913px 1229px #f3df45, 1606px 1336px #f3df45, 976px 1776px #f3df45, 1726px 605px #f3df45, 1244px 590px #f3df45,
    1351px 526px #f3df45, 1997px 130px #f3df45, 1137px 1134px #f3df45, 1293px 283px #f3df45, 977px 1608px #f3df45,
    422px 1252px #f3df45, 236px 1653px #f3df45, 28px 1722px #f3df45, 698px 39px #f3df45, 5px 434px #f3df45,
    1430px 1466px #f3df45, 1470px 1596px #f3df45, 487px 81px #f3df45, 186px 340px #f3df45, 1941px 1px #f3df45,
    1342px 487px #f3df45, 813px 1855px #f3df45, 1445px 148px #f3df45, 1965px 1428px #f3df45, 1122px 1277px #f3df45,
    846px 820px #f3df45, 1804px 228px #f3df45, 1501px 121px #f3df45, 215px 1033px #f3df45, 244px 426px #f3df45,
    976px 453px #f3df45, 566px 953px #f3df45, 1772px 213px #f3df45, 1323px 1778px #f3df45, 1350px 817px #f3df45,
    803px 913px #f3df45, 1395px 1359px #f3df45, 1995px 119px #f3df45, 579px 1963px #f3df45, 862px 1621px #f3df45,
    1718px 825px #f3df45, 823px 27px #f3df45, 1252px 41px #f3df45, 1562px 835px #f3df45, 1730px 633px #f3df45,
    1723px 1939px #f3df45, 524px 1824px #f3df45, 1921px 1450px #f3df45, 1174px 1062px #f3df45, 1008px 1932px #f3df45,
    467px 334px #f3df45, 80px 818px #f3df45, 1266px 1185px #f3df45, 1589px 807px #f3df45, 1221px 320px #f3df45,
    1724px 852px #f3df45, 1194px 286px #f3df45, 800px 1835px #f3df45, 1958px 728px #f3df45, 1271px 376px #f3df45,
    43px 1654px #f3df45, 77px 803px #f3df45, 1399px 197px #f3df45, 591px 1743px #f3df45, 652px 1925px #f3df45,
    107px 1939px #f3df45, 1110px 1708px #f3df45, 797px 1480px #f3df45, 1516px 684px #f3df45, 559px 1733px #f3df45,
    1265px 718px #f3df45, 1263px 54px #f3df45, 693px 113px #f3df45, 1456px 1459px #f3df45, 1527px 1324px #f3df45;
  animation: stars-animation 30s linear infinite;
}

#stars-yellow::after {
  content: " ";
  position: absolute;
  top: 500px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1744px 122px #f3df45, 134px 1321px #f3df45, 92px 859px #f3df45, 235px 1045px #f3df45, 366px 912px #f3df45,
    491px 942px #f3df45, 14px 1831px #f3df45, 582px 476px #f3df45, 588px 1230px #f3df45, 1520px 1343px #f3df45,
    1671px 203px #f3df45, 550px 341px #f3df45, 1491px 549px #f3df45, 558px 161px #f3df45, 896px 1823px #f3df45,
    999px 1463px #f3df45, 1557px 636px #f3df45, 1754px 1307px #f3df45, 1682px 1494px #f3df45, 703px 1707px #f3df45,
    1945px 1847px #f3df45, 1151px 1320px #f3df45, 980px 144px #f3df45, 478px 948px #f3df45, 109px 1762px #f3df45,
    558px 255px #f3df45, 719px 1820px #f3df45, 588px 748px #f3df45, 1899px 174px #f3df45, 841px 1771px #f3df45,
    571px 1588px #f3df45, 1155px 353px #f3df45, 1879px 1220px #f3df45, 1782px 870px #f3df45, 407px 1238px #f3df45,
    1141px 63px #f3df45, 1147px 1097px #f3df45, 1406px 159px #f3df45, 637px 1215px #f3df45, 694px 1114px #f3df45,
    1536px 727px #f3df45, 1708px 1512px #f3df45, 1147px 880px #f3df45, 684px 988px #f3df45, 140px 851px #f3df45,
    1565px 1788px #f3df45, 1573px 889px #f3df45, 1172px 628px #f3df45, 1474px 1978px #f3df45, 435px 447px #f3df45,
    185px 1808px #f3df45, 620px 1560px #f3df45, 1387px 1196px #f3df45, 138px 1854px #f3df45, 137px 1499px #f3df45,
    1721px 1132px #f3df45, 10px 32px #f3df45, 1931px 1990px #f3df45, 209px 91px #f3df45, 1876px 1795px #f3df45,
    1130px 1551px #f3df45, 284px 1848px #f3df45, 389px 1603px #f3df45, 612px 1121px #f3df45, 825px 1926px #f3df45,
    161px 344px #f3df45, 1729px 333px #f3df45, 1037px 37px #f3df45, 844px 1085px #f3df45, 1179px 554px #f3df45,
    50px 478px #f3df45, 1864px 704px #f3df45, 233px 723px #f3df45, 1202px 445px #f3df45, 882px 189px #f3df45,
    362px 735px #f3df45, 924px 411px #f3df45, 902px 209px #f3df45, 104px 185px #f3df45, 1599px 1852px #f3df45,
    1974px 944px #f3df45, 438px 1164px #f3df45, 401px 1533px #f3df45, 191px 1429px #f3df45, 251px 1034px #f3df45,
    1807px 1412px #f3df45, 72px 23px #f3df45, 1752px 1146px #f3df45, 261px 1481px #f3df45, 548px 33px #f3df45,
    710px 1204px #f3df45, 355px 1697px #f3df45, 581px 100px #f3df45, 318px 1146px #f3df45, 929px 79px #f3df45,
    999px 347px #f3df45, 155px 292px #f3df45, 271px 677px #f3df45, 920px 1596px #f3df45, 1736px 184px #f3df45,
    1022px 1790px #f3df45, 1465px 1762px #f3df45, 820px 526px #f3df45, 175px 37px #f3df45, 440px 746px #f3df45,
    681px 1879px #f3df45, 690px 1135px #f3df45, 1960px 1453px #f3df45, 422px 856px #f3df45, 1217px 1232px #f3df45,
    1015px 1695px #f3df45, 1933px 492px #f3df45, 272px 448px #f3df45, 1578px 1487px #f3df45, 437px 874px #f3df45,
    947px 838px #f3df45, 1339px 867px #f3df45, 1484px 773px #f3df45, 764px 66px #f3df45, 418px 707px #f3df45,
    192px 1909px #f3df45, 1629px 215px #f3df45, 171px 260px #f3df45, 1180px 220px #f3df45, 488px 857px #f3df45,
    593px 493px #f3df45, 1794px 886px #f3df45, 1673px 1977px #f3df45, 905px 1193px #f3df45, 1372px 1843px #f3df45,
    1605px 908px #f3df45, 659px 181px #f3df45, 700px 1758px #f3df45, 812px 1200px #f3df45, 1800px 1440px #f3df45,
    1858px 212px #f3df45, 628px 1026px #f3df45, 1825px 1556px #f3df45, 1641px 1750px #f3df45, 1195px 1086px #f3df45,
    1465px 558px #f3df45, 1634px 436px #f3df45, 1354px 1831px #f3df45, 1212px 1485px #f3df45, 1491px 994px #f3df45,
    604px 1279px #f3df45, 413px 1131px #f3df45, 1677px 1086px #f3df45, 841px 47px #f3df45, 146px 489px #f3df45,
    117px 1195px #f3df45, 67px 47px #f3df45, 883px 258px #f3df45, 1801px 1294px #f3df45, 594px 1870px #f3df45,
    649px 531px #f3df45, 721px 132px #f3df45, 975px 1616px #f3df45, 716px 94px #f3df45, 295px 791px #f3df45,
    174px 1814px #f3df45, 1130px 298px #f3df45, 1747px 1835px #f3df45, 605px 1521px #f3df45, 78px 743px #f3df45,
    1685px 311px #f3df45, 804px 341px #f3df45, 1440px 852px #f3df45, 1607px 1692px #f3df45, 698px 1112px #f3df45,
    1153px 1608px #f3df45, 539px 999px #f3df45, 262px 353px #f3df45, 457px 1246px #f3df45, 1858px 998px #f3df45,
    364px 431px #f3df45, 1907px 912px #f3df45, 541px 916px #f3df45, 168px 1384px #f3df45, 357px 1321px #f3df45,
    1859px 1866px #f3df45, 1001px 909px #f3df45, 842px 1663px #f3df45, 369px 1176px #f3df45, 932px 1372px #f3df45,
    1606px 732px #f3df45, 1844px 857px #f3df45, 974px 1588px #f3df45, 804px 1139px #f3df45, 65px 1213px #f3df45,
    1066px 863px #f3df45, 1991px 1734px #f3df45, 300px 738px #f3df45, 1260px 1141px #f3df45, 83px 260px #f3df45,
    1219px 167px #f3df45, 613px 990px #f3df45, 873px 81px #f3df45, 362px 235px #f3df45, 373px 372px #f3df45,
    80px 247px #f3df45, 902px 1141px #f3df45, 294px 464px #f3df45, 766px 1925px #f3df45, 1151px 1305px #f3df45,
    1250px 1593px #f3df45, 1289px 119px #f3df45, 1525px 1505px #f3df45, 234px 1306px #f3df45, 571px 858px #f3df45,
    571px 996px #f3df45, 766px 1342px #f3df45, 1371px 716px #f3df45, 711px 1939px #f3df45, 904px 1797px #f3df45,
    424px 1710px #f3df45, 762px 1614px #f3df45, 1389px 1290px #f3df45, 905px 689px #f3df45, 352px 38px #f3df45,
    2000px 1317px #f3df45, 597px 864px #f3df45, 824px 711px #f3df45, 966px 1060px #f3df45, 958px 992px #f3df45,
    1121px 324px #f3df45, 1624px 688px #f3df45, 1737px 702px #f3df45, 1566px 1344px #f3df45, 697px 368px #f3df45,
    291px 1126px #f3df45, 1732px 50px #f3df45, 712px 1941px #f3df45, 1257px 372px #f3df45, 317px 1462px #f3df45,
    222px 309px #f3df45, 1139px 647px #f3df45, 170px 878px #f3df45, 1272px 1511px #f3df45, 1009px 1912px #f3df45,
    1875px 1105px #f3df45, 1968px 1370px #f3df45, 1193px 687px #f3df45, 1498px 611px #f3df45, 247px 1993px #f3df45,
    1686px 1611px #f3df45, 937px 340px #f3df45, 114px 1423px #f3df45, 496px 1191px #f3df45, 110px 1284px #f3df45,
    876px 687px #f3df45, 1173px 214px #f3df45, 210px 628px #f3df45, 302px 1173px #f3df45, 1318px 939px #f3df45,
    1665px 1310px #f3df45, 66px 338px #f3df45, 1355px 615px #f3df45, 1139px 1672px #f3df45, 91px 1000px #f3df45,
    112px 422px #f3df45, 89px 503px #f3df45, 97px 1599px #f3df45, 1031px 1955px #f3df45, 1755px 1532px #f3df45,
    1764px 1930px #f3df45, 1822px 1751px #f3df45, 133px 401px #f3df45, 718px 85px #f3df45, 1797px 78px #f3df45,
    520px 1725px #f3df45, 226px 406px #f3df45, 1561px 1574px #f3df45, 340px 1602px #f3df45, 718px 976px #f3df45,
    1823px 570px #f3df45, 1298px 484px #f3df45, 1023px 1903px #f3df45, 1266px 1334px #f3df45, 763px 877px #f3df45,
    223px 631px #f3df45, 1761px 1293px #f3df45, 878px 1px #f3df45, 973px 696px #f3df45, 975px 1841px #f3df45,
    1276px 302px #f3df45, 1399px 1324px #f3df45, 1706px 872px #f3df45, 341px 1960px #f3df45, 1384px 1655px #f3df45,
    1897px 767px #f3df45, 68px 405px #f3df45, 705px 310px #f3df45, 194px 103px #f3df45, 1432px 368px #f3df45,
    1262px 1682px #f3df45, 1933px 1526px #f3df45, 263px 655px #f3df45, 1031px 1031px #f3df45, 1557px 788px #f3df45,
    1558px 1360px #f3df45, 812px 421px #f3df45, 1951px 734px #f3df45, 1567px 498px #f3df45, 1832px 1229px #f3df45,
    913px 164px #f3df45, 1907px 1273px #f3df45, 533px 749px #f3df45, 1235px 951px #f3df45, 645px 1959px #f3df45,
    92px 1570px #f3df45, 1169px 1434px #f3df45, 118px 1223px #f3df45, 583px 957px #f3df45, 1245px 316px #f3df45,
    527px 863px #f3df45, 372px 1007px #f3df45, 244px 1251px #f3df45, 314px 494px #f3df45, 1842px 1463px #f3df45,
    1315px 730px #f3df45, 1655px 1366px #f3df45, 482px 979px #f3df45, 340px 1808px #f3df45, 256px 578px #f3df45,
    858px 1792px #f3df45, 1965px 403px #f3df45, 454px 253px #f3df45, 1664px 698px #f3df45, 1974px 750px #f3df45,
    262px 1801px #f3df45, 1652px 1076px #f3df45, 992px 711px #f3df45, 1792px 1323px #f3df45, 700px 1748px #f3df45,
    855px 966px #f3df45, 1833px 1747px #f3df45, 402px 1272px #f3df45, 1391px 1039px #f3df45, 1395px 1538px #f3df45,
    397px 1972px #f3df45, 744px 1403px #f3df45, 1784px 1046px #f3df45, 111px 198px #f3df45, 1827px 473px #f3df45,
    1347px 1891px #f3df45, 1238px 1081px #f3df45, 189px 908px #f3df45, 1513px 542px #f3df45, 673px 981px #f3df45,
    720px 1184px #f3df45, 373px 792px #f3df45, 1470px 1631px #f3df45, 16px 822px #f3df45, 1935px 829px #f3df45,
    364px 613px #f3df45, 223px 899px #f3df45, 1233px 874px #f3df45, 1441px 1834px #f3df45, 719px 894px #f3df45,
    76px 1610px #f3df45, 296px 685px #f3df45, 572px 1637px #f3df45, 349px 114px #f3df45, 1670px 1802px #f3df45,
    979px 928px #f3df45, 1589px 574px #f3df45, 756px 194px #f3df45, 616px 507px #f3df45, 271px 186px #f3df45,
    198px 360px #f3df45, 1916px 418px #f3df45, 721px 667px #f3df45, 1937px 1908px #f3df45, 17px 556px #f3df45,
    345px 443px #f3df45, 718px 760px #f3df45, 1922px 310px #f3df45, 1185px 887px #f3df45, 1745px 1848px #f3df45,
    909px 847px #f3df45, 1170px 134px #f3df45, 1773px 1133px #f3df45, 1099px 233px #f3df45, 1122px 1524px #f3df45,
    866px 907px #f3df45, 398px 213px #f3df45, 1287px 886px #f3df45, 1194px 149px #f3df45, 1876px 1667px #f3df45,
    332px 1658px #f3df45, 146px 1253px #f3df45, 958px 211px #f3df45, 643px 47px #f3df45, 1213px 1339px #f3df45,
    1637px 1939px #f3df45, 1601px 355px #f3df45, 256px 1982px #f3df45, 989px 1609px #f3df45, 1179px 701px #f3df45,
    685px 1463px #f3df45, 1910px 465px #f3df45, 764px 1930px #f3df45, 1856px 433px #f3df45, 720px 367px #f3df45,
    1821px 416px #f3df45, 48px 1114px #f3df45, 716px 489px #f3df45, 174px 1972px #f3df45, 115px 1373px #f3df45,
    1487px 141px #f3df45, 1919px 1362px #f3df45, 1662px 859px #f3df45, 1168px 490px #f3df45, 706px 1820px #f3df45,
    588px 318px #f3df45, 107px 778px #f3df45, 621px 1667px #f3df45, 1331px 1996px #f3df45, 1404px 1154px #f3df45,
    860px 1019px #f3df45, 1385px 1883px #f3df45, 1066px 1951px #f3df45, 752px 444px #f3df45, 955px 1031px #f3df45,
    1256px 1899px #f3df45, 961px 1455px #f3df45, 1101px 84px #f3df45, 890px 335px #f3df45, 798px 40px #f3df45,
    138px 54px #f3df45, 1934px 252px #f3df45, 429px 324px #f3df45, 1645px 1522px #f3df45, 218px 737px #f3df45,
    1625px 531px #f3df45, 605px 1290px #f3df45, 1867px 648px #f3df45, 82px 1137px #f3df45, 231px 1423px #f3df45,
    471px 944px #f3df45, 1363px 1752px #f3df45, 482px 1364px #f3df45, 1305px 627px #f3df45, 1065px 891px #f3df45,
    217px 1841px #f3df45, 1843px 1501px #f3df45, 1681px 734px #f3df45, 185px 856px #f3df45, 609px 1094px #f3df45,
    49px 1657px #f3df45, 783px 594px #f3df45, 1018px 1123px #f3df45, 644px 1149px #f3df45, 739px 1262px #f3df45,
    1439px 1187px #f3df45, 1789px 1507px #f3df45, 941px 791px #f3df45, 1319px 1308px #f3df45, 498px 626px #f3df45,
    1594px 858px #f3df45, 783px 71px #f3df45, 576px 1976px #f3df45, 1625px 696px #f3df45, 1821px 352px #f3df45,
    1039px 885px #f3df45, 208px 430px #f3df45, 124px 198px #f3df45, 1964px 686px #f3df45, 1440px 1952px #f3df45,
    231px 1435px #f3df45, 1846px 853px #f3df45, 1174px 536px #f3df45, 1228px 310px #f3df45, 1380px 699px #f3df45,
    1116px 169px #f3df45, 1416px 1007px #f3df45, 178px 192px #f3df45, 1302px 1903px #f3df45, 1892px 154px #f3df45,
    962px 1032px #f3df45, 1009px 1916px #f3df45, 1549px 1206px #f3df45, 899px 968px #f3df45, 902px 543px #f3df45,
    1516px 542px #f3df45, 965px 527px #f3df45, 1594px 696px #f3df45, 856px 1719px #f3df45, 1522px 248px #f3df45,
    1795px 283px #f3df45, 1144px 946px #f3df45, 1365px 199px #f3df45, 359px 1347px #f3df45, 1506px 263px #f3df45,
    433px 1793px #f3df45, 201px 247px #f3df45, 942px 838px #f3df45, 1122px 1065px #f3df45, 1997px 108px #f3df45,
    306px 989px #f3df45, 641px 1713px #f3df45, 1072px 959px #f3df45, 1874px 1079px #f3df45, 1938px 269px #f3df45,
    891px 389px #f3df45, 22px 574px #f3df45, 727px 474px #f3df45, 1671px 1649px #f3df45, 98px 400px #f3df45,
    641px 798px #f3df45, 1218px 1051px #f3df45, 907px 1485px #f3df45, 1002px 1549px #f3df45, 1932px 1448px #f3df45,
    1132px 573px #f3df45, 1222px 1147px #f3df45, 1009px 451px #f3df45, 698px 1940px #f3df45, 97px 1123px #f3df45,
    904px 751px #f3df45, 1904px 593px #f3df45, 1451px 1658px #f3df45, 191px 1606px #f3df45, 1346px 482px #f3df45,
    1935px 1086px #f3df45, 1052px 224px #f3df45, 526px 1810px #f3df45, 1607px 606px #f3df45, 427px 1830px #f3df45,
    1546px 407px #f3df45, 1771px 208px #f3df45, 1714px 181px #f3df45, 1332px 943px #f3df45, 1663px 1094px #f3df45,
    1861px 1747px #f3df45, 1429px 1217px #f3df45, 1733px 1915px #f3df45, 925px 1179px #f3df45, 735px 781px #f3df45,
    1775px 1989px #f3df45, 1770px 476px #f3df45, 844px 400px #f3df45, 1793px 1517px #f3df45, 544px 281px #f3df45,
    725px 344px #f3df45, 1274px 764px #f3df45, 1845px 339px #f3df45, 582px 1745px #f3df45, 351px 1287px #f3df45,
    207px 749px #f3df45, 1063px 1411px #f3df45, 1246px 342px #f3df45, 1538px 166px #f3df45, 770px 602px #f3df45,
    1214px 1971px #f3df45, 113px 294px #f3df45, 1157px 101px #f3df45, 1657px 517px #f3df45, 637px 1693px #f3df45,
    961px 1649px #f3df45, 1754px 1572px #f3df45, 1885px 659px #f3df45, 238px 34px #f3df45, 413px 1027px #f3df45,
    1709px 1556px #f3df45, 460px 878px #f3df45, 1597px 608px #f3df45, 544px 434px #f3df45, 1258px 477px #f3df45,
    565px 1863px #f3df45, 426px 322px #f3df45, 1917px 850px #f3df45, 296px 144px #f3df45, 643px 1896px #f3df45,
    511px 116px #f3df45, 359px 847px #f3df45, 702px 1133px #f3df45, 857px 1371px #f3df45, 559px 1758px #f3df45,
    1615px 1223px #f3df45, 1927px 1736px #f3df45, 704px 941px #f3df45, 1932px 942px #f3df45, 1462px 335px #f3df45,
    154px 1915px #f3df45, 1387px 918px #f3df45, 1512px 1041px #f3df45, 1094px 1334px #f3df45, 1678px 865px #f3df45,
    1960px 431px #f3df45, 666px 1258px #f3df45, 422px 1215px #f3df45, 345px 802px #f3df45, 1207px 647px #f3df45,
    1701px 374px #f3df45, 1440px 1925px #f3df45, 1536px 1163px #f3df45, 905px 155px #f3df45, 843px 1036px #f3df45,
    660px 823px #f3df45, 1329px 661px #f3df45, 1867px 899px #f3df45, 1022px 514px #f3df45, 1062px 1570px #f3df45,
    888px 1786px #f3df45, 699px 1738px #f3df45, 1831px 1712px #f3df45, 434px 18px #f3df45, 227px 205px #f3df45,
    520px 1279px #f3df45, 1329px 764px #f3df45, 1824px 47px #f3df45, 112px 266px #f3df45, 830px 1140px #f3df45,
    478px 637px #f3df45, 634px 850px #f3df45, 711px 873px #f3df45, 987px 249px #f3df45, 1454px 909px #f3df45,
    699px 922px #f3df45, 1458px 1142px #f3df45, 701px 1893px #f3df45, 134px 384px #f3df45, 904px 354px #f3df45,
    1913px 1229px #f3df45, 1606px 1336px #f3df45, 976px 1776px #f3df45, 1726px 605px #f3df45, 1244px 590px #f3df45,
    1351px 526px #f3df45, 1997px 130px #f3df45, 1137px 1134px #f3df45, 1293px 283px #f3df45, 977px 1608px #f3df45,
    422px 1252px #f3df45, 236px 1653px #f3df45, 28px 1722px #f3df45, 698px 39px #f3df45, 5px 434px #f3df45,
    1430px 1466px #f3df45, 1470px 1596px #f3df45, 487px 81px #f3df45, 186px 340px #f3df45, 1941px 1px #f3df45,
    1342px 487px #f3df45, 813px 1855px #f3df45, 1445px 148px #f3df45, 1965px 1428px #f3df45, 1122px 1277px #f3df45,
    846px 820px #f3df45, 1804px 228px #f3df45, 1501px 121px #f3df45, 215px 1033px #f3df45, 244px 426px #f3df45,
    976px 453px #f3df45, 566px 953px #f3df45, 1772px 213px #f3df45, 1323px 1778px #f3df45, 1350px 817px #f3df45,
    803px 913px #f3df45, 1395px 1359px #f3df45, 1995px 119px #f3df45, 579px 1963px #f3df45, 862px 1621px #f3df45,
    1718px 825px #f3df45, 823px 27px #f3df45, 1252px 41px #f3df45, 1562px 835px #f3df45, 1730px 633px #f3df45,
    1723px 1939px #f3df45, 524px 1824px #f3df45, 1921px 1450px #f3df45, 1174px 1062px #f3df45, 1008px 1932px #f3df45,
    467px 334px #f3df45, 80px 818px #f3df45, 1266px 1185px #f3df45, 1589px 807px #f3df45, 1221px 320px #f3df45,
    1724px 852px #f3df45, 1194px 286px #f3df45, 800px 1835px #f3df45, 1958px 728px #f3df45, 1271px 376px #f3df45,
    43px 1654px #f3df45, 77px 803px #f3df45, 1399px 197px #f3df45, 591px 1743px #f3df45, 652px 1925px #f3df45,
    107px 1939px #f3df45, 1110px 1708px #f3df45, 797px 1480px #f3df45, 1516px 684px #f3df45, 559px 1733px #f3df45,
    1265px 718px #f3df45, 1263px 54px #f3df45, 693px 113px #f3df45, 1456px 1459px #f3df45, 1527px 1324px #f3df45;
}

@keyframes stars-animation {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-2000px);
  }
}
